{% comment %}
  Display syllabus in tabular form.
  Days are displayed if at least one episode has 'start = true'.
{% endcomment %}
<div class="syllabus">
  <h2 id="schedule">Schedule</h2>
  
  {% assign day = 0 %}
  {% assign multiday = false %}
  {% for episode in site.episodes %}
    {% if episode.start %}{% assign multiday = true %}{% break %}{% endif %}
  {% endfor %}
  {% assign current = site.start_time %}

  <table class="table table-striped">
  
  {% for item in site.episode_order %}
    
    {% comment %}this block below finds the episode matching the item in episode_order {% endcomment %}
    {% assign url='/'|append:item|append:'/' %}
    {% assign found=false %}
    {% for check_episode in site.episodes %}
      {% if check_episode.url == url %}
        {% assign episode=check_episode %}
        {% assign found=true %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if found == false%}{% comment %} This if test reports not finding the specified 
      episode in episode_order to the HTML file. I would have hoped to raise an 
      error when the HTML is created, but alas it seems the Liquid template 
      system doesn't have that functionality yet. {% endcomment %}
      <h3>ERROR: episode name '{{ item }}' in list 'episode_order' not found in '_episodes' folder.</h3>
      {% break %}
    {% endif %}

    {% if episode.start %} {% comment %} Starting a new day? {% endcomment %}
      {% assign day = day | plus: 1 %}
      {% if day > 1 %} {% comment %} If about to start day 2 or later, show finishing time for previous day {% endcomment %}
        {% assign hours = current | divided_by: 60 %}
        {% assign minutes = current | modulo: 60 %}
        <tr>
          {% if multiday %}<td></td>{% endif %}
          <td class="col-md-1">{% if hours < 10 %}0{% endif %}{{ hours }}:{% if minutes < 10 %}0{% endif %}{{ minutes }}</td>
          <td class="col-md-3">Finish</td>
          <td class="col-md-7"></td>
        </tr>
      {% endif %}
      {% assign current = episode.start_time %}
    {% endif %}
    {% assign hours = current | divided_by: 60 %}
    {% assign minutes = current | modulo: 60 %}
    <tr>
      {% if multiday %}<td class="col-md-1">{% if episode.start %}Day {{ day }}{% endif %}</td>{% endif %}
      <td class="col-md-1">{% if hours < 10 %}0{% endif %}{{ hours }}:{% if minutes < 10 %}0{% endif %}{{ minutes }}</td>
      <td class="col-md-3">
        <a href="{{ page.root }}{{ episode.url }}">{{ episode.title }}</a>
      </td>
      <td class="col-md-7">
        {% if episode.break %}
          Break
        {% else %}
          {% if episode.questions %}
            {% for question in episode.questions %}
              {{question|markdownify|strip_html}}
              {% unless forloop.last %}
              <br/>
              {% endunless %}
            {% endfor %}
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% assign current = current | plus: episode.teaching | plus: episode.exercises | plus: episode.break %}
  {% endfor %}
  {% assign hours = current | divided_by: 60 %}
  {% assign minutes = current | modulo: 60 %}
  <tr>
    {% if multiday %}<td></td>{% endif %}
    <td class="col-md-1">{% if hours < 10 %}0{% endif %}{{ hours }}:{% if minutes < 10 %}0{% endif %}{{ minutes }}</td>
    <td class="col-md-3">Finish</td>
    <td class="col-md-7"></td>
  </tr>
  </table>

  <p>
    The actual schedule may vary slightly depending on the topics and exercises chosen by the instructor.
  </p>

</div>
