---
---

@import "{{ site.theme }}";

//----------------------------------------
// Colors.
//----------------------------------------

// branding
$color-brand:       #2b3990 !default;

// code boxes
$color-error:       #bd2c00 !default;
$color-output:      #303030 !default;
$color-source:      #6e5494 !default;

// blockquotes
$color-callout:     #f4fd9c !default;
$color-challenge:   #eec275 !default;
$color-checklist:   #dfd2a0 !default;
$color-discussion:  #eec275 !default;
$color-keypoints:   #7ae78e !default;
$color-objectives:  #daee84 !default;
$color-prereq:      #9cd6dc !default;
$color-solution:    #ded4b9 !default;
$color-testimonial: #fc8dc1 !default;


//----------------------------------------
// Specialized code blocks.
//----------------------------------------

@mixin cdSetup($color) {
  color: $color;
  border-left: solid 5px $color;
  margin-bottom: 0px;
  background-color: #f5f5f5;
}

.error  { @include cdSetup($color-error); }
.output { @include cdSetup($color-output); }
.source { @include cdSetup($color-source); }

.bash   { @include cdSetup($color-source); }
.make   { @include cdSetup($color-source); }
.matlab { @include cdSetup($color-source); }
.python { @include cdSetup($color-source); }
.r      { @include cdSetup($color-source); }
.sql    { @include cdSetup($color-source); }
